/* baskervville-regular - latin */
@font-face {
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/baskervville-v13-latin/baskervville-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/baskervville-v13-latin/baskervville-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/baskervville-v13-latin/baskervville-v13-latin-regular.ttf') format('woff2'), /* Super Modern Browsers */
         url('fonts/baskervville-v13-latin/baskervville-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/baskervville-v13-latin/baskervville-v13-latin-regular.woff') format('truetype'), /* Safari, Android, iOS */
         url('fonts/baskervville-v13-latin/baskervville-v13-latin-regular.svg#Baskervville') format('svg'); /* Legacy iOS */
  }

  /* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/inika-v21-latin/inika-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/inika-v21-latin/inika-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/inika-v21-latin/inika-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/inika-v21-latin/inika-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/inika-v21-latin/inika-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/inika-v21-latin/inika-v21-latin-regular.svg#Inika') format('svg'); /* Legacy iOS */
  }

  /* iceland-regular - latin */
@font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/iceland-v16-latin/iceland-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/iceland-v16-latin/iceland-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/iceland-v16-latin/iceland-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/iceland-v16-latin/iceland-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/iceland-v16-latin/iceland-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/iceland-v16-latin/iceland-v16-latin-regular.svg#Iceland') format('svg'); /* Legacy iOS */
  }

  /* homenaje-regular - latin */
@font-face {
    font-family: 'Homenaje';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/homenaje-v16-latin (1)/homenaje-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/homenaje-v16-latin (1)/homenaje-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/homenaje-v16-latin (1)/homenaje-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/homenaje-v16-latin (1)/homenaje-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/homenaje-v16-latin (1)/homenaje-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/homenaje-v16-latin (1)/homenaje-v16-latin-regular.svg#Homenaje') format('svg'); /* Legacy iOS */
  }

body{
    background-color:#FFC971!important;
}

.navbar{
    background-color:#bc3908;
    border-bottom: 1vw solid #591f0a;
}

.nav-brand{
    text-decoration:none;
    font-size: 2.1rem;
    font-weight:bolder;
    line-height: 1.5em;
    letter-spacing:5px;
    font-family:'Courier New', Courier, monospace;

    padding-top:0.1px;
    margin-left:1vw;
}

.nav-item{
    padding-top:5px;

    border-right:2.5px solid black;
    


    font-family:'Courier New', Courier, monospace; 

    cursor:grab;
}

.navbar-nav {
    margin-left:20vw !important;
}

.intro_divider{
    margin-top:5vw;
    min-height:65vh;
    border:3vw solid white;
    background-image: radial-gradient( #fff200,#bc3908) !important; 
}

.ip{
    width:4vw;
    height:4vw;
    opacity:0.15;
}

.welcome_title{
    position:absolute;
    left: 31.3vw;;
    top: 18.5vw;
    width: 555px;
    height: 200px;
    z-index: 2;
    color:#00043a;
    font-weight:bold;

}

h1{
    font-family: 'Inika';
    text-align:center;
    color:#00043a;
}

h2{
   
    text-align:center;
    /* font-family: 'Homenaje'; */
    font-family: 'Baskervville';
}

h3{
    font-family: 'Iceland';
    text-align:center;
}


.shirts_divider{
    margin-left:4.5vw;
    margin-bottom:1.5vw;
}

.shirt_image{
    height:3vw;
    width:18vw;
}

.about_divider{
    font-family: 'Spectral';
    margin-top:5vw;

}

.project_intro{
    width:70%;
    text-align: justify;
    margin:auto !important;
    font-size:1.5vw;
    text-align:left !important;
}

.remint_intro{
    width:70%;
    text-align: justify;
    margin:auto !important;
    font-size:1.5vw;
}


.ul{
    width:70%;

    text-align: justify;

    margin:auto !important ;
    font-size:1.5vw;
    font-family: 'Homenaje' !important;
}


.background_divider{
    margin-top:2vw;
}

.wireframe-img{
    width: 40vw;
    /* padding-left: 5%;
    padding-right: 5%; */
    /* margin-left:3vw; */
    margin:auto !important;
}

.wireframe-img-1{
    width: 40vw;
    margin-top:2vw;
    margin-left:4vw;
    
}

.wireframe-img-2{
    width: 40vw;
    margin-top:3vw;
    margin-left:4vw;
    
}

.wireframe-img-3{
    width: 40vw;
    margin-top:3.5vw;
    margin-left:4vw;
    
}

.wireframe-img-4{
    width: 40vw;
    margin-top:3.2vw;
    margin-left:4vw;
    
}

.wireframe-img-5{
    width: 40vw;
    margin-top:2.8vw;
    margin-left:3.5vw;
    
}


.col_1{
    width: 50vw !important;
    height:30vw;
    border:9px solid #fe6847 !important;

} 

.col_2{
    width: 50vw !important;
    height:43vw;
    border:9px solid #fe6847 !important;

} 

.col_3{
    width: 50vw !important;
    height:17vw;
    border:9px solid #fe6847 !important;

}

.col_4{
    width: 50vw !important;
    height:22vw;
    border:9px solid #fe6847 !important;

}

.col_5{
    width: 50vw !important;
    height:20vw;
    border:9px solid #fe6847 !important;
}



.low_divider{
    font-family: 'Spectral';
    margin-top:2vw;
}

h4{
    font-family: 'Squada One';
    text-align:center;
}
